

body {
	-moz-user-select: none;
	user-select: none;
	color: white;
	background-color: black;
	font-family: arial;
	font-size: 12px;
}


td {
	text-align: center;
}

table {
	border-collapse: collapse;
}

tr, td {
	border: none;
}

td {
	padding: 2px;
}

thead {
	border-bottom: 1px solid white;
}

tfoot {
	border-top: 1px solid white;
}

.availableUnit:hover {
	background-color: white;
	color: black;
}

.available, .fleetDiv {
	border: 1px solid white;
	padding: 5px;
	width: 650px;
}

th {
	padding-top: 10px;
}

.fleetDiv tr:first-child td {
	width: 50px;
}

.fleetDiv tr:first-child td:first-child {
	width: 100px;
}

.fleetDiv {
	margin-top: 50px;
}

.fleetLayout {
	display: inline-block;
	margin: auto;
	border: 1px solid black;
}

.unitType {
	margin: auto;
}

.unitContainer {
	width: 90px;
	border: 1px solid white;
	display: inline-grid;
	padding: 3px;
	margin: 6px;
}

.unitContainer div {
	display: inline-block;
}

.healthCon {
	width: 84px;
	margin: auto;
}

.healthCon div {
	width: 4px;
	height: 6px;
	margin-right: 3px;

}

.health {
	background-color: green;
}

.armour {
	background-color: yellow;
}

.lost {
	background-color: red;
}

#game {
	position: absolute;
	top: 10px;
	left: 700px;
	width: 400px;
	height: 400px;
}

#ui {
	border: 1px solid blue;
	padding: 2px;
	float: left;
}

#ui, #game {
}

#mouse {
	z-index: 3;
}

#units {
	z-index: 2;
}

#grid {
	z-index: 1;
}

#game canvas {
	position: absolute;
}

.btn:hover {
	color: black;
	background-color: white;
}

.activeFleet {
	color: yellow
}

.fleetHoverDiv {
	z-index: 10;
	position: absolute;
	width: 100px;
	border: 1px solid yellow;
	background-color: black;
	padding: 3px;
	padding-bottom: 0px;
}

.fleetHoverDiv div, .fleetHoverDiv table {
	margin: auto;
	width: 100%;
	text-align: center;
}

.hidden {
	display: none;
}

.logWrapper {
	position: absolute;
	width: 400px;

}

.logWrapper table {
	width: 100%;
}

thead tr.friendly td {
	color: lightGreen;
}

thead tr.hostile td, .destroyed {
	color: red;
}

.damage {
	color: yellow;
}